* {
    padding: 0px;
    margin: 0px;
}

header {
    font-family: cursive;
    background-color: #21272d;
    padding: 10px;
}

h2,
.caption {
    text-align: right;
    color: #fff;
}

.title {
    padding-right: 30px;
}

.banner {
    background-color: #32383e;
    min-height: 200px;
}

.banner-list {
    color: #fff;
    padding: 30px;
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
}
